


.logo-blanco{
  width: 200px;
  height: auto;
}

.logo-blanco img{
  width: 100%;
  height: auto;
}


.logo-color{
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

.logo-color img{
  width: 100%;
  height: auto;
}

.audio-predicacion{
  width: 238px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}